<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 회원 정보</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="admin_container">
    <h1>회원 정보</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.username}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.role}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
